.wrapper {
  /* background-image: url("/assets/himadri-bg.png"); */
}
.about_container {
}
.mobile_image {
  display: none;
}
@media (max-width: 700px) {
  .wrapper {
    margin: 0px;
  }
  .about_container {
    display: none;
  }
  .mobile_image {
    display: flex;
    width: 100%;
  }
  .mobile_banner {
    width: 100%;
  }
}
