.wrapper {
  background-image: url("/assets/himadri-bg.png");
}
.about_container h2 {
  /* text-align: center; */
  font-size: var(--step-8);
  padding: 20px 0px;
  color: red;
}
.about_section {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 40% 60%;
  /* border: 2px solid grey; */
}
.about_section > section {
  /* border: 2px solid grey; */
}
.ranker_details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3% 0%;
  /* border: 2px solid red; */
}
.ranker_text {
  width: 50%;
  display: flex;
  padding: 2% 0%;
}
.ranker_text span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--button-color);
  font-size: var(--step-5);

  display: flex;
  justify-content: center;
  align-items: center;
}
.ranker_text p {
  color: var(--black);
  font-size: var(--step--2);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}
.ranker_name {
  margin: 20px 0px;
}
.ranker_name h3 {
  font-size: var(--step-8);
  background-color: var(--button-color);
  color: var(--white);
  display: inline;
  padding: 10px 10px;
}
@media (max-width: 700px) {
  .wrapper {
    margin: 0px;
  }
  .about_section {
    display: flex;
    flex-direction: column;
  }
}
