.mobile_container {
  display: none;
}
@media (max-width: 700px) {
  .wrapper {
    margin: 0px;
  }
  .about_container {
    display: none;
  }
  .mobile_container {
    display: flex;
  }
  .mobile_image {
    display: flex;
    width: 100%;
  }
  .mobile_banner {
    width: 100%;
  }
}
