.wrapper {
  position: relative;
}

.slider_item img {
  width: 100%;
  height: auto;
}
.banner_img {
  width: 100%;
  /* border: 2px solid red; */
  display: none;
}
.banner_items {
  position: relative;
}
.mobile_banner {
  width: 100%;
}

@media (max-width: 1150px) {
  .banner_items {
    display: none;
  }
  .banner_img {
    width: 100%;
    display: flex;
  }
}
@media (max-width: 850px) {
  .banner_img {
    width: 80%;
    /* border: 2px solid red; */
    display: flex;
  }
  .mobile_banner {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .mobile_banner img {
    width: 100%;
    height: auto;
  }
  .banner_img {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .banner_img {
    width: 100%;
    display: flex;
  }
  .mobile_banner {
    width: 100%;
  }
}
